*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.input-container{
  display: flex;
  margin: 20px 50px 10px;
 justify-content: center;
}
.square-container{
  display: flex;
  flex-wrap: wrap;
  margin:  40px 50px;
}
input{
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 20%;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
  border-color: #ed2553;
}
button{
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  margin: 0 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s ease;
}
button:hover{
  border-color: #ed2553;
}
svg{
  margin: 5px 0
}